streamlit==1.52.2
scikit-learn==1.8.0
pandas==2.3.3
numpy==2.4.1
typing==3.7.4.3
sentence-transformers==5.2.0
textstat==0.7.12
matplotlib==3.10.8
textatistic==0.0.1
statistics==1.0.3.5
spacy==3.8.11
pyLDAvis==3.4.1
pathlib==1.0.1
corextopic==1.1
plotly==6.5.1
circlify==0.15.1
PyPDF2==3.0.1
docx==0.2.4
wordcloud==1.9.5
ollama==0.6.1