scikit-learn
pandas
numpy
pathlib
typing
textstat
sentence-transformers
PyPDF2 
docx 
textstat
wordcloud
matplotlib 
rtf_to_text
extatistic
statistics
spacy
sklearn
pyLDAvis
corextopic
pprint
itertools